@import url('reset.css');

header{position: relative; position:sticky; top:0; background-color: #fff;}
header h1{text-align: center;}

header .sns{position:absolute; overflow: hidden; left:15px; top: 20px;} 
header .sns > li{float:left; text-indent: -9999px; width: 32px; height: 32px; background: url('social.png') no-repeat;}
ul.sns li:nth-child(2) {background-position: -32px 0;}
ul.sns li:nth-child(3) {background-position: -64px 0;}
ul.sns li:nth-child(4) {background-position: -96px 0;}


header .login{position:absolute; right:0; top:0;}
header .login > li{float:right; padding-top:20px; padding-right: 20px; color:#777; font-size: 13px;}
header .login > li > a{display: block;}

header .menu{text-align: center;}
header .menu > li{display: inline-block; }
header .menu > li > a{display: block; text-decoration: none; color: #777; padding:20px 30px;}


.mid1{background-image: url('main.jpg'); 
              margin-top: 20px;
              height: 500px;
              border-top: 3px solid red;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;}
.mid1 > div{text-align: center; color:#fff; padding-top:100px;}

.mid2{text-align: center;}
.mid2 > div{display: inline-block; padding-right: 100px; margin-bottom: 100px;}
.mid2 > div > h1{color: #777;}

footer{overflow: hidden;}
footer .foot{overflow: hidden; border-top:3px solid #777; margin: 10px 0px;}
.left{float: left; margin:10px;}
.right{float:right; margin:10px;}